*{
  box-sizing: border-box;
}
.app__wrapper{
  display: grid;

  width: 1200px;
  margin: 10px auto 0;

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  grid-template-areas: 
  'header header'
  'nav content';
}

@keyframes backWave{
  0%{
    background: rgb(61, 126, 187);
  }
  50%{
    background: black;
  }
  100%{
    background: rgb(61, 126, 187);
  }
}
.app__content{
  grid-area: content;
  background-color: #BDC3C7; 
}